##JAVA
# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.rar

## TODO ajouter les fichiers des IDE ( Eclipse ) dès que le processus de build serra indépendant.
*.~lock.*
target/cargo/configurations/tomcat9x/.cargo
target/cargo/configurations/tomcat9x/conf/catalina.properties
WebContent/WEB-INF/jsp/connexion.jsp.old
WebContent/WEB-INF/jsp/Aciennes jsp/connexion.jsp.old1
WebContent/WEB-INF/jsp/connexion.jsp.old
WebContent/WEB-INF/jsp/Aciennes jsp/afficherProfile.jsp.old
WebContent/WEB-INF/jsp/Aciennes jsp/connexion.jsp.old
WebContent/WEB-INF/jsp/Aciennes jsp/detailVente.jsp.old
WebContent/WEB-INF/jsp/Aciennes jsp/detailVente.jsp.old1
WebContent/WEB-INF/jsp/Aciennes jsp/listeEncheres.jsp.old
WebContent/WEB-INF/jsp/Aciennes jsp/monProfile.jsp.old
WebContent/WEB-INF/jsp/connexion.jsp.old
WebContent/WEB-INF/jsp/detailVente.jsp.old
WebContent/WEB-INF/jsp/monProfile.jsp.old
WebContent/css/style.css.old
WebContent/WEB-INF/jsp/connexion.jsp.old1
WebContent/WEB-INF/jsp/nouvelleVente.jsp.old
