##JAVA
# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.rar

## TODO ajouter les fichiers des IDE ( Eclipse ) dès que le processus de build serra indépendant.
# Eclipse :
build

# Maven
target

#InteliJ
.idea
*.iml

## LibreOffice
# Fichiers temporaires crees lors d'une ouverture
*.~lock.*
