

.navbar {
	border-bottom: #008ed6 2px solid;
}

body {
	 background: url("images/bg-image.png");
	 
}

.nomproduit {
	text-decoration: underline;
	border-bottom: medium;
}

.photo {
	width: 200px;
    height: 120px;
}

/* resize images */
.photo img {
    height: 100%;
    width: auto;
}

.imagecentree {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}