

.navbar {
	border-bottom: #008ed6 2px solid;
}

body {
	 background: url("images/bg-image.png");
	 
}

.nomproduit {
	text-decoration: underline;
	border-bottom: medium;
}

.photo {
	width: 200px;
    height: 120px;
}

/* resize images */
.photo img {
    height: 100%;
    width: auto;
}

.abc {
    display: flex;
    
}

#infoArticle {
	padding-left: 16%;
}

 h1 {
  text-shadow: 2px 2px 5px red;
}

